@import "../../variables.scss";

.nav {
  height: 5em;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 4px #000;
  min-height: 5em;
}

.header {
  color: $fontColor;
  font-size: 1.4em;
  font-weight: 600;
}
